.container {
  width: 90%;
  margin: 0 auto;
  .count {
    margin-bottom: 2rem;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2%;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
}
