.App {
  padding: 2.5rem;
  min-height: 100vh;
  background-color: #f5f5f3;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.MuiCircularProgress-root {
  margin: 0 auto;
  display: block !important;
  color: #ef7310 !important;
}
