.article {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  &__img {
    width: 49%;
    height: 450px;
    background-color: white;
    display: flex;
    justify-content: center;

    img {
      height: 100%;
      max-width: 100%;
      width: 100%;
      border-radius: 5px;
    }
  }
  &__content {
    background-color: #fff;
    width: 49%;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px 6px 0 rgb(0 0 0 / 5%);
    padding: 1.5rem;
  }
}
